<!--Ei käytössä tällä hetkellä, vaatii jatkokehitystä-->

<!--<p class="searchcriteria">Valitse halutessasi hakuehdot:</p>
<section>
  <div class=checkboxes>
    <label class="container">Romantiikka
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Kauhu
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Draama
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Animaatio
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Komedia
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
    <label class="container">Trilleri
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>
  </div>
  
  <div class="selectandbutton">
    <div class="selectboxes">
      <select class="moviesboxes">
        <option value="0">Valitse elokuva:</option>
        <option value="1">The Wicker Man</option>
        <option value="2">The Family Man</option>
        <option value="3">The Weather Man</option>
        <option value="4">Clueless</option>
        <option value="5">Pulp Fiction</option>
      </select>
    </div>
    <div>
      <select class="actorsboxes">
        <option value="0">Valitse näyttelijä:</option>
        <option value="1">Nicolas Cage</option>
        <option value="2">Alicia Silverstone</option>
        <option value="3">Uma Thurman</option>
      </select>
    </div>
    <button class="btn btn-primary"> Anna quote hakuehdoillani!</button>
  </div>
</section>
--> 